<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MINI UPS</title>

    <!-- This is the bootstrap for navibar  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="/styles.css" />
    <script src="/index.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/personal-page">MINI UPS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <!-- <li><a href="#">About</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Contact</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/reset">Reset Password</a></li>
              <li><a id="logoutputprompt" href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- <div>
      <h1 id="logo">MINI UPS</h1>
      <button id="all">Shop All</button>
      <button id="cart">Cart</button>
    </div> --> 
    <!-- error prompt -->
    <% if(error == true){ %>
      <label class="errorMsg"> <%= msg %> </label>
    <% } %> 

    <% if(reset){ %>
      <form method="post">
        <div class="input-group">
          <input type="password" name="OldPassword" placeholder="Old Password" id="password" required>
          <input type="password" name="NewPassword" placeholder="New Password" id="password" required>
          <input type="submit" name="resetBtn" value="Reset" id="reset-btn">
        </div>
      </form>
    <% } else { %>
        <% orders.forEach(function(order){ %>
          <form method="post">
            <div class="input-group">&nbsp;
              <label>UserName: <%= order.UserName %>,</label> &emsp;
              <label>TrackNum: <%= order.TrackNum %>,</label> &emsp;
              <label>Deliver Address: (<%= order.DeliverAddress_X %>,<%= order.DeliverAddress_Y %>),</label> &emsp;
              <label>Item Type: <%= order.ItemType %>,</label> &emsp;
              <label>Status: <%= order.Status %>,</label> &emsp;
              <label>Priority: <%= order.Priority %></label>&nbsp;
              <input type="text" name="DeliverAddress" placeholder="New Address" required>
              <input type="submit" value="Track" id="track-button">
              <input type="hidden" name="TrackNum" value= <%= order.TrackNum %> >
              <input type="hidden" name="UserName" value= <%= order.UserName %> >
            </div>
          </form>
        <% }); %>
    <% } %>
    </body>
   

    <footer>
      <div class="footer_class">
        <div id="faq">
          <h4>FAQ</h4>
        </div>
        <div id="contact">
          <h4>Contact Us</h4>
        </div>
      </div>
    </footer>
  </body>
</html>
